/* Roboto Slab & Open Sans */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/*--Basic color scheme--*/
:root {
  --dark-primary-color: #022140;
  --default-primary-color: #265077;
  --light-primary-color: #C5CAE9;
  --text-primary-color: #FFFFFF;
  --accent-color: #51a7f8;
  --primary-bg-color: #FFFFFF;
  --primary-text-color: #595959;
  --emphasis-text-color: #212121;
  --secondary-text-color: #1E4258;
  --divider-color: var(--dark-primary-color);
  --overlay-bg-color: #1E4258;
  --overlay-text-color: #ccc;
  --container-bg-color: #FCFCFC;
}

/*-----Global-----*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1.5;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
  background: var(--default-primary-color);
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  position: fixed;
  top: 0; 
  text-transform: uppercase;
  background: var(--primary-bg-color);
  margin: 0;
}

#header * {
  font-size: 0.85rem;
  font-weight: bold;
  color: var(--default-primary-color);
  letter-spacing: 0.15em;
  list-style: none;
  text-decoration: none;
}

.logo {
  width: 250px;
  display: inline-block;
  margin-top: 5px;
  padding: 1rem;
}

#header-img {
  display: block;
  width: 100%;
}

#nav-bar {
  padding: 1.5rem;
  padding-right: 5rem;
}

#nav-bar a {
  padding: 0.25rem 0.68rem;
  border-radius: 0.3125rem;
} 

#nav-bar a:hover, #nav-bar a:active,
.nav-link.active {
  border-radius: 0%;
  background: var(--default-primary-color);
  color: var(--text-primary-color);
}

.top-menu {
  display: flex;
}

#menu-small {
  display: none;
  /* color: var(--text-primary-color); */
  font-size: 1.625rem;
  padding: .8rem;
}

.side-nav {
  background-color: var(--default-primary-color);
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: ease-in 0.5s;
  opacity: 1;
}

.side-nav * {
  color: var(--text-primary-color);
}

.side-menu-header {
  height: auto;
  top: 0;
  margin: 0;
  padding: 0;
  background: var(--primary-bg-color);
  color: var(--default-primary-color);
}

.side-menu-header .brand {
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
}

 #close-slide {
  color: var(--default-primary-color);
  /* margin-top: 1rem; */
  padding-top: 1.5rem;
  font-size: 1.5rem;
}

.logo-small {
  width: 250px;
  display: inline-block;
}

.side-nav hr {
  border-bottom: 1px solid #101010;
  box-shadow: inset 0 1px - rgba(255, 255, 255, .1);
  margin-bottom: 1rem;
}

.side-nav a {
  text-align: left;
  font-size: 1.15rem;
  padding: .625rem .625rem 0 1.875rem;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover, .side-nav.nav-link.active {
  background: var(--overlay-text-color);
  color: var(--overlay-bg-color);
}

.side-nav-link {
  margin: 0;
  padding: 0;
}

.intro {
  width: 100%;
  /* background: var(--dark-primary-color);
  color: var(--text-primary-color); */
  margin: 0 auto;
  margin-top: 8rem;
}

.main {
  max-width: 991px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  transition: margin-left 0.5s;
  background: var(--container-bg-color);
}

.section-media {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


/* RESPONSIVE DESIGN */
@media only screen and (max-width: 768px) {
  /*----navigation----*/
  .top-menu {display: none;}
  
  #menu-small {display: block;}

}