/* Roboto Slab & Open Sans */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');

/*--Basic color scheme--*/
:root {
  --dark-primary-color: #022140;
  --default-primary-color: #265077;
  --light-primary-color: #C5CAE9;
  --text-primary-color: #FFFFFF;
  --accent-color: #51a7f8;
  --primary-bg-color: #FFFFFF;
  --primary-text-color: #595959;
  --emphasis-text-color: #212121;
  --secondary-text-color: #1E4258;
  --divider-color: var(--dark-primary-color);
  --overlay-bg-color: #1E4258;
  --overlay-text-color: #ccc;
  --container-bg-color: #FCFCFC;
}

body {
  font-family: 'Open Sans', Helvetica, Sans-Serif;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  position: fixed;
  top: 0; 
  text-transform: uppercase;
}

#header * {
  font-size: 0.85rem;
  font-weight: bold;
  color: var(--default-primary-color);
  letter-spacing: 0.15em;
  list-style: none;
  text-decoration: none;
}

.logo {
  width: 250px;
  display: inline-block;
  margin-top: 5px;
  padding: 1rem;
}

.logo #header-img {
  display: block;
  width: 100%;
}

#nav-bar {
  padding: 1.5rem;
  padding-right: 5rem;
}

#nav-bar a {
  padding: 0.25rem 0.68rem;
  border-radius: 0.3125rem;
} 

#nav-bar a:hover, #nav-bar a:active,
.nav-link.active {
  border-radius: 0%;
  background: var(--default-primary-color);
  color: var(--text-primary-color);
}

.top-menu {
  display: flex;
}

.main {
  width: 90%;
  margin: 0 auto;
  margin-top: 30vh;
  padding: 2rem;
  border: 1px solid red;
}